.login-btn-splashpage {
  font-family: "League Spartan";
  color: #7B424F;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

/* this styling needs changed */