.create-store {
  color:#7B424F;
  background-color: #FFF5f0;
  border: 0;
  font-family: "League Spartan"; 
  font-size: 20px;
}

.create-store-input {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }

.create-store-label{
    font-family: "League Spartan";
    font-size: 13px;
    margin: auto;
}

.create-store-form {
    justify-content: center;
    margin: auto;
    text-align: center;
}

.create-store-btn {
    align-items: center;
    background-color: #7B424F;
    border: 2px solid #7B424F;
    color: #FFF5f0;
    cursor: pointer;
    justify-content: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "League Spartan";
    margin-top: 40px;
  }

  .cancel-store-btn {
    align-items: center;
    background-color: #FFF5f0;
    color: #7B424F;
    cursor: pointer;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #7B424F;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "League Spartan";
    margin-top: 40px;
  }