.full-page-full-item-div {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    align-items: center;
    margin-top: 100px;
}

.full-page-item-div {
    display: flex;
    border-bottom: 1px solid #cd9da9;
}

.full-page-item-img-div {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
}

.store-preview-div {
    display: inline-flex;
}

.store-preview-profile-image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.store-preview-name {
    font-size: 17px;
    font-weight: bold;
    font-family: "League Spartan";
}

.full-page-item-main-info {
    display: block;
}

.full-page-item-name {
    font-size: 32px;
    font-family: "League Spartan";
}

.full-page-item-rating {
    font-size: 20px;
}

.full-page-item-price {
    font-size: 45px;
    font-family: "League Spartan";
}

/* .full-page-item-description-div {

} */

.full-page-item-img-div {
    margin-right: 30px;
}

.full-page-item-description {
    font-size: 20px;
    font-family: "League Spartan";
}

/* BigItemButton */
.edit-item-btn {
    font-family: "League Spartan";
    background-color: #7B424F;
    align-items: center;
    border: 2px solid #7B424F;
    color:  #FFF5F0;
    cursor: pointer;
    justify-content: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.item-cart-btn {
    font-family: "League Spartan";
    background-color: #7B424F;
    align-items: center;
    border: 2px solid #7B424F;
    color:  #FFF5F0;
    cursor: pointer;
    justify-content: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.delete-btn {
    color: #7B424F;
    background-color: #FFF5F0;
    border: 2px solid #7B424F;
    border-radius: 100px;
    font-family: "League Spartan";
    cursor: pointer;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

/* reviews */

.item-reviews-div {
    margin-left: 10%;
    margin-bottom: 60px;
}

.item-reviews-header {
    font-size: 25px;
    font-family: "League Spartan";
}