.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 10px;
    /* justify-content: right; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff5f0;
    border-bottom: 1px solid #7B424F;
}

.sticker-stories-header {
    text-decoration: none;
    font-size: 25px;
    font-family: "Abril Fatface" !important;
    color: #7B424F;
    margin-left: 10px;
}

.profile-dropdown {
    font-family: "League Spartan";
    margin-right: 10px;
}

.profile-icon {
    margin-right: 20px;
    height: 25px;
    width: auto;
}

.store-dropdown-li {
    margin-bottom: 10px;
}

.store-icon {
    margin-right: 20px;
    height: 20px;
    width: auto;
}

.store-dropdown {
    font-family: "League Spartan";
}

.store-dropdown-li {
    margin-bottom: 10px;
}

.store-link {
    font-family: "League Spartan";
    text-decoration: none;
    color: #7B424F;
}

.delete-store {
    font-family: "League Spartan";
    font-size: 13px;
    color: #7B424F;
    background-color: #fff5f0;
    border: 2px solid #7B424F;
    border-radius: 100px;
    padding: 4px;
    margin-top: 5px;
    cursor: pointer;
}

.logout {
    color: #7B424F;
    background-color: #fff5f0;
    border: 2px solid #7B424F;
    border-radius: 100px;
    font-family: "League Spartan";
}

.cart-icon {
    margin-right: 20px;
    height: 20px;
    width: auto;
}

.cart-item-count {
    position: absolute;
    top: 5px;
    right: 17px;
    background-color: #7B424F;
    color: #fff5f0;
    font-size: 12px;
    text-align: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    z-index: 10;
    padding: 2px;
}